<!-- filepath: /home/amine/Desktop/GuizTheme/Base/sections/whatsapp-float.liquid -->

<a href="https://wa.me/212607097700?text=Bonjour%2C%20j%27aimerais%20avoir%20plus%20d%27informations%20sur%20vos%20services."
    class="whatsapp-float" target="_blank">
    <i class="fab fa-whatsapp" size=40px></i>
</a>

{% schema %}
{
  "name": "WhatsApp Float Button",
  "settings": [],
  "presets": [
    {
      "name": "WhatsApp Float Button"
    }
  ]
}
{% endschema %}
